.wrapTr {
  background-color: #ffffff;
  box-shadow: 1px 1px 25px rgba(136, 165, 191, 0.15);
  margin-bottom: 10px;
  border-radius: 0px 4px 4px 0px;
  position: relative;
  overflow: hidden;
  display: flex;
  padding-left: 30px;
  .wrapSwitch {
    display: flex;
    align-items: center;
    position: absolute;
    .switch {
      border-radius: 9px;
    }
    span {
      margin-left: 10px;
      font-weight: 600;
    }
  }
  td {
    padding: 15px 0px;
    span:nth-child(1) {
      display: inline-block;
      margin-bottom: 8px;
    }
  }
}
.inactive {
  td {
    color: #c6d8e1 !important;
  }
}
