.tariffSelectionWrap {
  h2 {
    display: inline-block;
    margin-bottom: 30px;
  }
  .row {
    display: flex;
    align-items: center;
  }
  .left {
    height: 110px;
  }
  .right {
    padding-left: 128px;
  }
}
