.wrapContent {
  display: flex;
  gap: 20px;
  align-items: center;
}

.wrapAdd {
  margin-bottom: 18px;
}

.number {
  margin-top: 40px;
}

.cross {
  transform: rotate(45deg);
}

.title {
  margin-bottom: 18px;
}

.plus {
  margin-top: 22px;
}

.lockBlock {
  position: relative;

  .lock {
    position: absolute;
    color: #e2ebef;
    top: 30px;
    right: 10px;
  }
}

.botBlock {
  margin-top: 50px;
}

.wrapBlock {
  margin-bottom: 40px;
}

.wrapInput {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
}

.wrapButtons {
  margin-top: 50px;
}

.mainBlock {
  max-width: 595px;
}