.wrap {
  display: flex;
  padding: 10px 20px 10px 30px;
  background-color: #ffffff;
  box-shadow: 1px 1px 25px rgba(136, 165, 191, 0.15);
  margin-bottom: 10px;
  border-radius: 0px 4px 4px 0px;
  position: relative;
  overflow: hidden;
  td {
    padding: 15px 0px;
    span:nth-child(1) {
      display: inline-block;
      margin-bottom: 8px;
    }
  }
  .phones {
    display: flex;
    flex-direction: column;
  }
}
