$table_width: 1150px;

.table {
  width: $table_width;
  margin-top: 50px;

  .thead {
    display: flex;
    padding: 10px 20px;
    span {
      font-weight: 400 !important;
      font-size: 12px;
      line-height: 15px;
      color: #6b8795;
      text-align: left;
      display: inline-block;
    }
    span:nth-child(1) {
      width: 170px;
    }
    span:nth-child(2) {
      width: 300px;
      margin-right: 10px;
    }
    span:nth-child(3),
    span:nth-child(4),
    span:nth-child(5) {
      width: 150px;
    }
  }
  .tbody {
    display: block;
    font-size: 13px;
    line-height: 19px;
    color: #062a3d;
  }
}
