.wrapTable {
  td:nth-child(1),
  th:nth-child(1) {
    width: 174px;
  }
  td:nth-child(2),
  th:nth-child(2) {
    width: 156px;
  }
  td:nth-child(3),
  th:nth-child(3) {
    width: 268px;
  }
  td:nth-child(4),
  th:nth-child(4) {
    width: 187px;
  }
  td:nth-child(5),
  th:nth-child(5) {
    width: 149px;
  }
  td:nth-child(6),
  th:nth-child(6) {
    width: 185px;
  }
}
