.wrapper {
  .line {
    height: 1px;
    background-color: #eff1f5;
    width: 100%;
  }
  span {
    position: absolute;
    font-size: 14px;
    line-height: 19px;
    color: #6b8795;
    padding: 0px 15px;
    background-color: #fff;
  }
}
