.wrapTable {
  tr {
    padding: 20px 20px 20px 30px;
    border-spacing: 0;
  }
  td,
  th {
    width: 250px;
  }
  td:nth-child(1) {
    font-weight: 600;
    color: #1ea133;
  }
  td:nth-child(1) {
    text-decoration: underline;
  }
  td:nth-child(2),
  th:nth-child(2) {
    width: 300px;
  }
  td:nth-child(2) {
    display: flex;
    flex-direction: column;
    a {
      font-weight: 600;
      color: #1ea133;
      text-decoration: underline;
    }
  }
  td:nth-child(3),
  th:nth-child(3) {
    width: 350px;
  }
}
