.calendar {
  & button {
    color: #1ea133;
    font-weight: 300;
  }
}

.css-1cd3vk3-MuiButtonBase-root-MuiPickersDay-root {
  border: none;
  & .Mui-disabled {
    color: #c6d8e1;
  }
  & .Mui-selected {
    color: white;
    background: #1ea133;
    border-radius: 50%;
  }
}

.css-l0iinn {
  border: 1px solid #eff1f5;
  padding: 4px 5px 4px 15px;
  border-radius: 4px;
}
