.wrapper {
  display: flex;
  .wrapAvatar {
    .output {
      width: 170px;
      height: 170px;
      border-radius: 50%;
      background: #e2edf3;
    }
    .logo,
    img {
      width: 170px;
      height: 170px;
      border-radius: 50%;
      border: 1px solid #e2edf3;
    }
    span {
      display: flex;
    }
    p {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      color: #6b8795;
      display: flex;
      flex-direction: column;
      margin-top: 30px;
      text-align: center;
    }
  }
  .wrapForms {
    margin-left: 78px;
    .phones,
    .row {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
    }
    .phones {
      margin-bottom: 30px;
      margin-right: 20px;
    }
  }
}
