.wrapTable {
  tr {
    padding: 20px 20px 20px 30px;
    border-spacing: 0;
  }
  td:nth-child(1),
  th:nth-child(1) {
    width: 300px;
    font-weight: 600;
  }
  td:nth-child(1) {
    a {
      display: block;
      margin-bottom: 15px;
      font-weight: 600;
      font-size: 13px;
      line-height: 13px;
      color: #1ea133;
      text-decoration-line: underline;
      &:hover {
        font-weight: 600;
      }
    }
  }
  td:nth-child(2),
  th:nth-child(2) {
    width: 600px;
    span:nth-child(1) {
      color: #6b8795;
    }
  }
  td:nth-child(3),
  th:nth-child(3) {
    width: 200px;
  }
}
