.wrapper {
  .wrapInputs {
    margin: 18px 0px 30px;
  }

  .wrapCheckBox {
    margin: 38px 0px 60px;
    span {
      margin-left: 15px;
      font-size: 14px;
      line-height: 19px;
      color: #062a3d;
    }
  }

  .wrapButtons {
    margin-top: 50px;
  }
}
