.wrap {
  .deviceNumber {
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #1ea133;
  }
  .bold {
    font-weight: 600 !important;
  }
}
