.wrapper {
  .subTitle {
    display: inline-block;
    margin: 28px 0px 38px;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #1ea133;
  }
  .wrapLastInput {
    margin-top: 12px;
  }
}
