.nav {
  width: 70px;
  height: 100vh;
  position: fixed;
  z-index: 2;
  .crm_logo {
    display: flex;
    align-content: center;
    align-items: center;
    width: 70px;
    height: 57px;
    svg {
      width: 80%;
      height: auto;
      margin: 0 auto;
    }
  }
  .menu {
    height: calc(100% - 57px);
    width: 70px;
    background: linear-gradient(180deg, #19af31, #0b5517 35%);
    transition: all 250ms ease-in-out;
    ul {
      padding: 0;
      margin: 0;
      padding: 25px 0px 0px 4px;
      li {
        margin-bottom: 30px;
        padding-left: 20px;
        height: 40px;
        width: 100%;
        border-radius: 20px 0px 0px 20px;
        display: flex;
        position: relative;
        .wrap {
          width: 30px;
          position: relative;
          display: flex;
          align-items: center;
          overflow: hidden;
          transition: all 250ms ease-in-out;
          svg {
            fill: #ffffff;
          }
          .linkName {
            position: absolute;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            left: 50px;
            color: #ffffff;
            opacity: 0;
            transition: all 300ms ease;
            display: block;
            width: 180px;
          }
        }

        .wrapNotification {
          position: absolute;
          right: -28px;
          transition: all 250ms ease-in-out;
        }
      }
      .active {
        background: #fff;
        .wrap {
          svg {
            fill: #6b8795;
          }
          .linkName {
            color: #263238;
          }
        }
      }
    }
    &:hover {
      width: 261px;
      box-shadow: 7px 3px 8px rgb(136 165 191 / 15%);
      .wrap {
        width: 210px;
        .linkName {
          opacity: 1;
        }
      }
      .wrapNotification {
        right: -20px;
      }
    }
  }
}
