.wrapCheck {
  flex-direction: column;
}

.check {
  margin-right: 15px;
}

.dataNumber {
  margin-top: 18px;
  margin-bottom: 30px;
}

.block {
  margin-top: 18px;
  margin-bottom: 50px;
}

.botBlock {
  margin-top: 18px;
  margin-bottom: 30px;
}

.btnBlock {
  margin-top: 50px;
}

.text {
  font-size: 14px;
  line-height: 19px;
}

.areaBlock {
  margin-top: 30px;
}
