.button {
  height: 40px;
  padding: 0px 30px;
  border-radius: 4px;
  border: 1px solid #1ea133;
  cursor: pointer;
  outline: 0;
  -webkit-appearance: none;
  background: transparent;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #1ea133;
}

.bcg {
  background: #1ea133;
  color: #fff;
  font-weight: bold;
}
