.wrapTable {
    td,
    th {
      width: 190px;
    }
    td:nth-child(1),
    th:nth-child(1) {
      width: 200px;
      font-weight: 600;
    }
    td:nth-child(2),
    th:nth-child(2) {
      width: 350px;
      a {
        font-weight: 500;
        font-size: 13px;
        line-height: 19px;
        text-decoration-line: underline;
        color: #1ea133;
        &:hover {
          font-weight: 600;
        }
      }
    }
    td:nth-child(3),
    th:nth-child(3) {
      width: 190px;
      a {
        font-weight: 500;
        font-size: 13px;
        line-height: 19px;
        text-decoration-line: underline;
        color: #1ea133;
        &:hover {
          font-weight: 600;
        }
      }
    }
    td:nth-child(6),
    th:nth-child(6) {
      width: 185px;
    }
  }
  