.wrapper {
  width: 1120px;
  height: 304px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  .leftBlock {
    height: 227px;
    width: 94px;
    .titleWrapFirst {
      margin-bottom: 10px;
    }
    .titleWrap {
      height: 37px;
      span {
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        color: #062a3d;
      }
    }
  }
  .daysWrapper {
    position: relative;
    width: 1026px;
    height: 304px;
    .lineOne {
      top: 48px;
    }
    .lineTwo {
      top: 200px;
    }
  }
}
