.wrapTable {
  tr {
    padding: 20px 20px 20px 30px;
  }
  td,
  th {
    border-spacing: 0;
    width: 200px;
    a {
      font-weight: 600;
      font-size: 13px;
      line-height: 19px;
      text-decoration-line: underline;
      color: #1ea133;
      &:hover {
        font-weight: 600;
      }
    }
  }
  th:nth-child(1),
  td:nth-child(1) {
    width: 270px;
  }
  td:nth-child(2),
  th:nth-child(2) {
    width: 571px;
    div {
      display: flex;
      flex-direction: column;
    }
  }
  td:nth-child(3),
  th:nth-child(3) {
    width: 250px;
    font-weight: 600;
  }
}
